@font-face {
    font-family: "SCDream-1";
    src: url(../font/SCDream1.otf);
}
@font-face {
    font-family: "SCDream-2";
    src: url(../font/SCDream2.otf);
}
@font-face {
    font-family: "SCDream-3";
    src: url(../font/SCDream3.otf);
}
@font-face {
    font-family: "SCDream-4";
    src: url(../font/SCDream4.otf);
}
@font-face {
    font-family: "SCDream-5";
    src: url(../font/SCDream5.otf);
}
@font-face {
    font-family: "SCDream-6";
    src: url(../font/SCDream6.otf);
}
@font-face {
    font-family: "SCDream-7";
    src: url(../font/SCDream7.otf);
}
@font-face {
    font-family: "SCDream-8";
    src: url(../font/SCDream8.otf);
}
@font-face {
    font-family: "SCDream-9";
    src: url(../font/SCDream9.otf);
}