._base {
    /* background-color: pink; */
}


main.index {
    background-image: url("../img/bg_main.png");
    background-position: center;
    background-repeat: no-repeat;
}
main.index p,
main.index a {
    color: white;
}
main.index .mainCenter {
    /* max-width: 660px; */
    /* margin: 0 auto; */
}
main.index .include_box {
    max-width: 660px;
    margin: 0 auto;
    transition: all 0.3s;
}
main.index .include_box.contentBox {
    padding-top: 90px;
}
main.index .include_box.contentBox .line.topText {
    padding-bottom: 36px;
}
main.index .include_box.contentBox .line.topText p {
    text-align: center;
    font-size: 2rem;
}
main.index .include_box.contentBox .line.logoLine {
    padding-bottom: 115px;
}
main.index .include_box.contentBox .line.logoLine .img_box {
    width: 96.36363636363636%;
    margin: 0 auto;
}
main.index .include_box.contentBox .line.cardPic {
    padding-bottom: 92px;
}
main.index .include_box.contentBox .line.cardPic ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
main.index .include_box.contentBox .line.cardPic ul li {
    width: 45.45454545454545%;
}
main.index .include_box.contentBox .line.menu {
    padding-bottom: 115px;
}
main.index .include_box.contentBox .line.menu ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
main.index .include_box.contentBox .line.menu ul li {
    width: 30.3030303030303%;
}
main.index .include_box.contentBox .line.menu ul li a .img_box {
    box-shadow: 0px 3px 10px 0px #252525;
    border-radius: 10px;
    margin-bottom: 15px;
}
main.index .include_box.contentBox .line.menu ul li a .text_box p {
    text-align: center;
    font-family: "SCDream-5";
    font-size: 1.333rem;
}


main.whatIs .include_box {
    max-width: var(--content_width);
    margin: 0 auto;
}
main.whatIs .bg_incBox1 {
    background-image: url("../img/bg_main.png");
    padding-top: 90px;
}
main.whatIs .include_box.incBox1 {
    /* background-color: aqua; */
    padding-bottom: 55px;
}
main.whatIs .include_box.incBox1 .line.title {
    padding-bottom: 90px;
    transition: all 0.3s;
}
main.whatIs .include_box.incBox1 .line.title p {
    text-align: center;
    font-size: 2.222rem;
    color: white;
    font-family: "SCDream-6";
}
main.whatIs .include_box.incBox1 .box.flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.3s;
}
main.whatIs .include_box.incBox1 .box.flex > .box {
    width: 50%;
    margin: 0 auto;
}
main.whatIs .include_box.incBox1 .box.flex > .box.left {
    /* background-color: aqua; */
    transition: all 0.3s;
}
main.whatIs .include_box.incBox1 .box.flex > .box.right {
    /* background-color: pink; */
    transition: all 0.3s;
}
main.whatIs .include_box.incBox1 .box.flex > .box.left .img_box {
    width: 58.5%;
    margin: 0 auto;
}
main.whatIs .include_box.incBox1 .box.flex > .box.right .line:not(:first-child) {
    padding-top: 50px;
}
main.whatIs .include_box.incBox1 .box.flex > .box.right .line p {
    color: white;
}
main.whatIs .include_box.incBox1 .box.flex > .box.right .line .text1 {
    font-size: 1.666rem;
    padding-bottom: 20px;
    transition: all 0.3s;
}
main.whatIs .include_box.incBox1 .box.flex > .box.right .line .text1 span {
    font-family: "SCDream-6";
}
main.whatIs .include_box.incBox1 .box.flex > .box.right .line .text2 p {
    line-height: 1.6;
}
main.whatIs .include_box.incBoxStyle1 > .box.flex {
    display: flex;
    align-items: center;
    width: 100%;
    /* background-color: wheat; */
}
main.whatIs .include_box.incBoxStyle1 > .box.flex > .box.text {
    padding: 0 30px;
}
main.whatIs .include_box.incBox2 {
    padding-top: 70px;
}
main.whatIs .include_box.incBox3 {
    padding-top: 140px;
    padding-bottom: 85px;
}
main.whatIs .include_box.incBoxStyle1 > .box.flex > .box {
    width: 50%;
    transition: all 0.3s;
}
main.whatIs .include_box.incBoxStyle1 .line.toptext {
    padding-bottom: 20px;
}
main.whatIs .include_box.incBoxStyle1 .line.toptext p {
    font-size: 1.666rem;
}
main.whatIs .include_box.incBoxStyle1 .line.toptext p span {
    font-family: "SCDream-6";
}
main.whatIs .include_box.incBoxStyle1 .line.text {
    line-height: 1.5;
}
main.whatIs .include_box.incBoxStyle1 .line.highlight1 {
    /* line-height: 1.666; */
    padding: 0.666rem;
    color: white;
    font-size: 1.25rem;
    font-family: "SCDream-6";
}
main.whatIs .include_box.incBoxStyle1 .line.highlight2 p {
    text-align: center;
    color: #1580e4;
    font-family: "SCDream-6";
    font-size: 2rem;
}
main.whatIs .include_box.incBoxStyle1 .line.highlight2 p span {
    font-size: 1.333rem;
}
main.whatIs .include_box.incBoxStyle1 .gap {
    /* background-color: rgba(50, 47, 231, 0.473); */
    height: 25px;
}
main.whatIs .include_box.incBoxStyle1 .line.notice .noticeBox {
    display: flex;
    align-items: flex-start;
    padding-top: 5px;
}
main.whatIs .include_box.incBoxStyle1 .line.notice .noticeBox p,
main.whatIs .include_box.incBoxStyle1 .line.notice .noticeBox span {
    color: #d23a43;
    font-size: 0.833rem;
}
main.whatIs .include_box.incBoxStyle1 .line.notice .noticeBox p.PB {
    padding-bottom: 10px;
}
main.whatIs .include_box.incBoxStyle1 .line.notice .noticeBox span {
    display: inline-block;
    padding-right: 4px;
}
main.whatIs .include_box.incBoxStyle1 .line.list {
    padding-top: 15px;
}
main.whatIs .include_box.incBoxStyle1 .line.list p.line:not(:first-child) {
    margin-top: 10px;
}
main.whatIs .include_box.incBoxStyle1 .line.list p span {
    color: #1580e4;
    font-family: "SCDream-6";
}
main.whatIs .include_box.btn_box {
    padding-bottom: 70px;
}
main.whatIs .include_box.btn_box .line .docDownload {
    display: block;
    color: white;
    background-color: #ff727b;
    /* width: 50.82%; */
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    font-family: "SCDream-6";
    padding: 0.9444rem 0;
    border-radius: 10px;
    transition: all 0.3s;
}
main.whatIs .include_box.incBox2 .line.highlight1 {
    background-color: #ff727b;
    text-align: center;
}
main.whatIs .include_box.incBox3 .line.highlight1 {
    background-color: #72ccff;
    text-align: center;
}



main.userManual .include_box {
    width: 100%;
}
main.userManual .include_box.firstBox {
    padding-top: 90px
}
main.userManual .include_box.incBoxStyle1 {
    background-color: white;
}
main.userManual .include_box.incBoxStyle2 {
    background-color: #ffe3e3;
}
main.userManual .include_box .line.mainTitle {
    padding-bottom: 60px;
    transition: all 0.3s;
}
main.userManual .include_box .line.mainTitle p {
    font-size: 2.222rem;
    font-family: "SCDream-6";
    text-align: center;
}
main.userManual .include_box > .box.flex {
    display: flex;
    justify-content: flex-start;
    
    max-width: var(--content_width);
    margin: 0 auto;
    padding: 50px 0;
    transition: all 0.3s;
}
main.userManual .include_box > .box.flex > div {
    width: 50%;
    transition: all 0.3s;
}
main.userManual .include_box > .box.flex .left_box {
    /* background-color: pink; */
    transition: all 0.3s;
}
main.userManual .include_box > .box.flex .right_box {
    /* background-color: aqua; */
    transition: all 0.3s;
}
main.userManual .include_box .left_box .line.leftImg .img_box {
    max-width: 67.213%;
    margin: 0 auto;
}
main.userManual .include_box .line.subTitle {
    font-size: 1.666rem;
    padding-bottom: 1.22rem;
}

main.userManual .include_box .line.notice .noticeBox {
    display: flex;
    align-items: flex-start;
    padding-top: 5px;
}
main.userManual .include_box .line.notice > .noticeBox {
    padding-bottom: 1rem;
}
main.userManual .include_box .line.notice .noticeBox p,
main.userManual .include_box .line.notice .noticeBox span {
    /* font-size: 0.833rem; */
}
main.userManual .include_box .line.notice .noticeBox.style1 p,
main.userManual .include_box .line.notice .noticeBox.style1 span {
    color: #d23a43;
    font-size: 0.833rem;
}
main.userManual .include_box .line.notice .PB1 {
    padding-bottom: 1rem;
}
main.userManual .include_box .line.notice .PB2 {
    padding-top: 0.75rem;
}
main.userManual .include_box .line.notice .noticeBox span {
    display: inline-block;
    padding-right: 4px;
}


main.inquiry .include_box {
    width: 100%;
}
main.inquiry .include_box.incBoxStyle1 {
    background-color: white;
}
main.inquiry .include_box.incBoxStyle2 {
    background-color: #ffe3e3;
}
main.inquiry .include_box .line.mainTitle {
    padding-bottom: 60px;
}
main.inquiry .include_box .line.mainTitle p {
    font-size: 2.222rem;
    font-family: "SCDream-6";
    text-align: center;
}
main.inquiry .include_box.FAQ {
    padding-top: 90px;
    padding-bottom: 65px;
}
main.inquiry .include_box.FAQ .box.list  {
    max-width: 1220px;
    margin: 0 auto;
    /* background-color: rgba(0, 255, 255, 0.425); */
}
main.inquiry .include_box.FAQ .box.list .line.flex {
    display: flex;
    align-items: flex-start;
}
main.inquiry .include_box.FAQ .box.list .line.flex.left {
    justify-content: flex-start;
    padding-bottom: 20px;
}
main.inquiry .include_box.FAQ .box.list .line.flex.right {
    justify-content: flex-end;
    padding-bottom: 35px;
}
main.inquiry .include_box.FAQ .box.list .line.flex .img_box {
    width: 7%;
}
main.inquiry .include_box.FAQ .box.list .line.flex .text_box {
	position: relative;
	border-radius: .4em;
    /* height: 120px; */
    padding: 1.5rem;
    max-width: 66.39%;
}
main.inquiry .include_box.FAQ .box.list .line.flex.left .text_box {
    background-color: white;
    margin-left: 2.46%;
}
main.inquiry .include_box.FAQ .box.list .line.flex.right .text_box {
    background-color: #ffa2a2;
    margin-right: 2.46%;
}
main.inquiry .include_box.FAQ .box.list .line.flex .text_box p {
    font-size: 1.111rem;
    line-height: 1.5;
    word-break: keep-all;
}
main.inquiry .include_box.FAQ .box.list .line.flex .text_box::after {
	/* content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;
    transform: translateY(2.111rem); */

    
}
main.inquiry .include_box.FAQ .box.list .line.flex.left .text_box::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: white;
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;
}
main.inquiry .include_box.FAQ .box.list .line.flex.right .text_box::after {
	content: '';
	position: absolute;
	right: 0;
	/* top: 5vh; */
	top: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #ffa2a2;
	border-right: 0;
	margin-top: 25px;
	margin-right: -20px;
}
main.inquiry .include_box.EMAIL {
    max-width: 1220px;
    padding: 75px 0;
    margin: 0 auto;
}
main.inquiry .include_box.EMAIL .line.mailImg {
    padding-bottom: 40px;
}
main.inquiry .include_box.EMAIL .line.mailImg .img_box {
    width: 33.6%;
    margin: 0 auto;
}
main.inquiry .include_box.EMAIL .line p {
    font-size: 1.666rem;
    text-align: center;
}
main.inquiry .include_box.EMAIL .line p:last-of-type{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    margin-top:10px; 
    font-size:2.5em;
}


@media (max-width: 1220px){
    main .include_box .line.partner ul {
        transition: all 0.3s;
        width: 98%;
    }
    main.inquiry .include_box.FAQ .box.list {
        padding: 0 10px;
    }
    main.inquiry .include_box.FAQ .box.list .line.flex .text_box::after {
        display: none;
    }
}

@media (max-width: 800px){
    main.index .include_box {
        width: 95%;
        margin: 0 auto;
    }

    main.whatIs .include_box.incBox1 .box.flex {
        flex-direction: column;
    }
    main.whatIs .include_box.incBox1 .box.flex > .box.right {
        padding-right: 10px;
        width: 95%;
    }
    main.whatIs .include_box.incBox1 .box.flex > .box.left {
        padding-bottom: 30px;
        width: 70%;
    }
    main.whatIs .include_box.incBox1 .line.title {
        padding-bottom: 30px;
    }
    main.whatIs .include_box.incBox1 .box.flex > .box.right .line .text1 {
        padding-bottom: 8px;
    }
    main.whatIs .include_box.incBox1 .box.flex > .box.right .line:not(:first-child) {
        padding-top: 10px;
    }
    main.whatIs .include_box.incBoxStyle1 > .box.flex > .box {
        width: 95%;
    }
    main.whatIs .include_box.incBoxStyle1.incBox2 > .box.flex {
        flex-direction: column-reverse;
    }
    main.whatIs .include_box.incBoxStyle1.incBox3 > .box.flex {
        flex-direction: column;    transition: all 0.3s;
    }
    main.whatIs .include_box.incBoxStyle1 > .box.flex > .box:not(.text) {
        margin-bottom: 20px;
    }
    main.whatIs .include_box.btn_box .line .docDownload {
        width: 90%;
        font-size: 1.7rem;
    }

    main.userManual .include_box .line.mainTitle {
        padding-bottom: 0px;
    }
    main.userManual .include_box > .box.flex {
        flex-direction: column;
        align-items: center;
    }
    main.userManual .include_box > .box.flex > div {
        width: 95%;
    }
    main.userManual .include_box > .box.flex .left_box {
        margin-bottom: 20px;
    }
}
