*{margin: 0; padding: 0; box-sizing: border-box; -webkit-tap-highlight-color : transparent;}

/* 기준사이즈 */
html {font-size: 18px; font-family: "SCDream-4";}	

body {line-height: 1;}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: normal;}
ul, ol, li {list-style: none;}
a {text-decoration: none; color: black; -webkit-tap-highlight-color : transparent;}
img, video {vertical-align: top;}
img {width: 100%;}
table {border-collapse: collapse;}
input, textarea, select {outline: 0;}
button {border: none; cursor: pointer;}
textarea {resize: none;}
.clear_fix::after {content: ""; display: block; clear: both;}
.elli {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-family: "SCDream-4" !important;}
.multiElli {
	/* 이하 주석은 class적용 태그에 각자 적용 */
	/* font-size: 10px;
	-webkit-line-clamp: 2;
	line-height: 20px; 
	height: 40px;  */
	display: -webkit-box; 
	word-wrap: break-word; 
	color: #444; 
	-webkit-box-orient: vertical; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	text-decoration: none;
	font-family: "SCDream-4" !important;
}
.tl {text-indent: -9999px;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* -webkit-appearance: none; */
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
	box-shadow: 0 0 0 1000px white inset;
}

html::-webkit-scrollbar {
    width: 8px;
    height: 1px;
}
html::-webkit-scrollbar-track {
    background-color: rgb(187, 187, 187);
}
html::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    overflow: hidden;
}



/* p, span, a{color: black;} */


@media (max-width: 1220px){
	html {
		transition: all 0.3s;
		font-size: 16px;
	}
}

@media (max-width: 800px){
	html {
		font-size: 14px;
	}
}

@media (max-width: 540px){
	html {
		font-size: 12px;
	}
}